h1{
  color: #1B2631;
  text-align: center;
  font-size: 50px;
}
body{
  background-image: url("Images/back2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-size: 25px;
}
a{
  font-size: 19px;
}
h2{
  text-align: center;
  text-decoration: underline;
}

ol{
  list-style:none;
  text-align:center;
}
